<!-- your_app/templates/your_app/table_detail.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ table_name }} Data</h2>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for header in headers %}
                    <th>hi{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    {% for field in item.get_fields %}
                    <td>{{ field }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}